.qb-signup-wrapper{
    height: 100vh;
    overflow: hidden;
}
.qb-signup-bg-wrap{
    top: 0;
    left: 0;
    height: 100%;
}
.qb-signup-left{
    width: 40vw;
}
.qb-signup-right{
    width: 60vw;
}
.qb-signup-bg{
    background: linear-gradient(60.67deg, #E64980 8.99%, #FF8787 90.01%);
}
.qb-overflow-wrap{
    height: 100%;
    overflow: auto;
}
.qb-form-wrap-scrollable{
    min-height: 100%;
    height: max-content;
    padding: 80px 16px;
}
.qb-signup-mockup{
    width: 60%;
    height: auto;
}
.qb-signup-content{
    z-index: 1;
}
.qb-signup-header{
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 10;
}
.qb-form-wrap{
    width: 66%;
    border-radius: 24px;
    background: #f1f1f2;
    box-shadow:  14px 14px 28px #dbdbdc,
             -14px -14px 28px #ffffff;
    /* overflow: hidden; */
}
.qb-country-code-select-wrapper{
    width: 80px;
}
.qb-country-code-options-wrap{
    width: max-content;
}
.qb-circle-bg{
    top: -56%;
    left: -38%;
}
.qb-card-icon-wrap{
    border-radius: 32px;
    overflow: hidden;
}
.qb-md-header{
    padding: 60px 0;
    background: linear-gradient(60.67deg, #E64980 8.99%, #FF8787 90.01%);
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}
.qb-sm-header-image-wrap{
    height: 100%;
    top: 0;
    right: 0;
}
.qb-sm-header-image-wrap img{
    height: 100%;
    width: auto;
    z-index: 0;
    opacity: 0.2;
}
::-webkit-datetime-edit-text { color: #7d8383;}
::-webkit-datetime-edit-month-field { color: #7d8383; }
::-webkit-datetime-edit-day-field { color: #7d8383; }
::-webkit-datetime-edit-year-field { color: #7d8383; }
::-webkit-calendar-picker-indicator { color: #7d8383; }
@media only screen and (max-width: 1200px){
    .qb-form-wrap{
        width: 80%;
    }
}
@media only screen and (max-width: 992px){
    .qb-main-body-wrap{
        overflow-x: hidden;
    }
    .qb-signup-wrapper{
        padding: 100px 0;
        overflow: auto;
    }
    .qb-signup-left{
        width: 0;
        display: none;
    }
    .qb-signup-right{
        width: 100vw;
    }
    .qb-overflow-wrap{
        height: max-content;
        overflow: unset;
    }
}
@media only screen and (max-width: 767px){
    .qb-form-wrap{
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        background-color: #fff0;
    }
    .qb-signup-wrapper{
        padding: 0;
        padding-bottom: 80px;
        height: unset;
    }
    .qb-signup-content{
        width: 100vw;
    }
    .qb-form-wrap-scrollable{
        padding: 0 16px;
    }
    .qb-btn-wrapper{
        width: 100%;
    }
    a.qb-link-btn{
        width: 100%;
    }
    button{
        width: 100%;
    }
    h3.qb-title{
        font-size: 22px;
        line-height: 150%;
    }
    h3.qb-sm-signup-title{
        font-size: 32px;
        color: #f1f1f2;
        font-weight: 800;
    }
}