* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: "Jost";
    src: url(../../assets/fonts/jost/Jost-Regular.ttf);
    font-weight: 400;
}
@font-face{
    font-family: "Jost";
    src: url(../../assets/fonts/jost/Jost-Medium.ttf);
    font-weight: 500;
}
@font-face{
    font-family: "Jost";
    src: url(../../assets/fonts/jost/Jost-SemiBold.ttf);
    font-weight: 600;
}
@font-face{
    font-family: "Jost";
    src: url(../../assets/fonts/jost/Jost-Bold.ttf);
    font-weight: 700;
}
html{
    scroll-behavior: smooth;
}
body, button, input, a{
    font-family: 'Jost', sans-serif;
}
.qb-main-body-wrap{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: stretch;
    justify-content: center;
    background: #F1F2F2;
}
.qb-loader{
    display: flex;
    align-items: stretch;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 90vw;
    min-height: 100vh;
    opacity: 1;
    transition: 0.5s ease-out;
}
.qb-loader-fill{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    transition: 0.4s ease-in;
}
.qb-loader-border{
    width: 320px;
    height: 320px;
    border-radius: 200px;
    background-color: #F1F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -32px -32px 64px rgba(231, 86, 58, 0), 32px 32px 64px rgba(219, 39, 38, 0);
}
.qb-preloader-icon-path{
    stroke-dasharray: 1009.24;
    stroke-dashoffset: 1009.24;
    fill-opacity: 0;
    animation: loaderAnime 4s ease forwards;
}
.qb-remove-loader{
    opacity: 0;
    pointer-events: none;
}
.qb-loader-boder-anime{
    animation: loaderShadow 2s ease infinite;
}

.qb-content-wrap{
    padding-right: 24px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
}
.qb-image-wrap{
    padding-left: 24px;
    display: flex; 
    align-items: center;
    justify-content: center;
    position: relative;
}
.qb-header-wrap{
    width: 100vw;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 10;
}
.qb-header{
    padding: 32px 0;
    width: 80vw;
    display: flex;
}
.qb-body-wrap{
    display: flex;
    align-items: stretch;
    width: 80vw;
}
.qb-content{
    display: flex;
    flex-direction: column;
    height: max-content;
}
.qb-image-container{
    width: 500px;
    max-width: 40vw;
    height: max-content;
}
.qb-hero-image{
    width: 500px;
    max-width: 40vw;
}
.qb-title{
    font-size: 2.8rem;
    line-height: 150%;
    font-weight: 700;
    padding-bottom: 16px;
}
.qb-desc{
    font-size: 1.2rem;
    line-height: 150%;
    font-weight: 400;
    padding-bottom: 16px;
}
.qb-btn-wrapper{
    padding-top: 32px;
}
.qb-btn{
    color: #1F2D2B;
    background-color: #FDB913;
    border-radius: 16px;
    border: 1px solid #FDB913;
    padding: 18px 28px;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
    display: flex;
    width: max-content;
}
.qb-message-section{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.4s ease-in;
    width: 0px;
}
.qb-message-active{
    width: 40vw;
}
.qb-message-wrap{
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    background: linear-gradient(145deg, #d9d9da, #ffffff);
    box-shadow:  20px 20px 40px #cacacb,
                 -20px -20px 40px #ffffff;
    border-radius: 16px;
    width: 80%;
    min-width: 310px;
    min-height: 200px;
    opacity: 0;
    transition: 0.5s ease-in;
}
.qb-message-opacity{
    opacity: 1;
}
.qb-bg-dark{
    background-color: #1F2D2B;
}
.qb-opacity-item{
    opacity: 0;
    transition: 0.9s ease-out;
}
.qb-translate-item{
    transform: translateY(40px);
    opacity: 0;
    transition: 0.9s ease-out;
}
.qb-translate-item-slow{
    transition: 1.4s ease-out;
}
.qb-opacity-anime{
    opacity: 1;
}
.qb-translate-anime{
    transform: translateY(0);
    opacity: 1;
}
@media only screen and (max-width: 990px){
    .qb-loader{
        width: 94vw;
    }
    .qb-message-active{
        width: 42vw;
    }
    .qb-message-wrap{
        width: 88%;
        min-width: 260px;
    }
    .qb-title{
        font-size: 2.4rem;
    }
    .qb-desc{
        font-size: 1rem;
    }
}
@media only screen and (max-width: 767px){
    .qb-header{
        width: 90vw;
    }
    .qb-body-wrap{
        width: 90vw;
    }
    .qb-title{
        font-size: 1.6rem;
    }
    .qb-desc{
        font-size: 0.8rem;
    }
    .qb-btn{
        padding: 14px 22px;
        font-size: 0.6rem;
    }
    .qb-body-wrap{
        flex-direction: column;
        justify-content: center;
    }
    .qb-image-wrap{
        justify-content: end;
    }
    .qb-image-container{
        max-width: 50vw;
        height: max-content;
    }
    .qb-hero-image{
        max-width: 50vw;
    }
    .qb-content-wrap{
        flex: none;
    }
    .qb-loader{
        width: 100vw;
        flex-direction: column;
    }
    .qb-loader-border{
        width: 140px;
        height: 140px;
        border-radius: 200px;
        padding: 24px;
    }
    .qb-message-section{
        width: 100vw;
        flex: 0 1 auto;
    }
    .qb-message-active{
        flex: 1 1 auto;
    }
    .qb-bg-dark{
        background-color: #F1F2F2;
    }
    .qb-logo-sm-wrap{
        flex: none;
        padding: 48px;
    }
}

@keyframes loaderAnime{
    40%{
        stroke-opacity: 1;
        fill-opacity: 0;
    }
    90%{
        stroke-dashoffset: 0;
    }
    100%{
        stroke-opacity: 0;
        fill-opacity: 1;
    }
}
@keyframes loaderShadow{
    0%{
        box-shadow: -32px -32px 64px rgba(231, 86, 58, 0), 32px 32px 64px rgba(219, 39, 38, 0);
    }
    25%{
        box-shadow: -32px -32px 64px rgba(219, 39, 38, 0.15), 32px 32px 64px rgba(231, 86, 58, 0.15);
    }
    50%{
        box-shadow: -32px -32px 64px rgba(231, 86, 58, 0.15), 32px 32px 64px rgba(219, 39, 38, 0.15);
    }
    75%{
        box-shadow: -32px -32px 64px rgba(219, 39, 38, 0.15), 32px 32px 64px rgba(231, 86, 58, 0.15);
    }
    100%{
        box-shadow: -32px -32px 64px rgba(231, 86, 58, 0), 32px 32px 64px rgba(219, 39, 38, 0);
    }
}