* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: "Jost";
    src: url(../../assets/fonts/jost/Jost-Regular.ttf);
    font-weight: 400;
}
@font-face{
    font-family: "Jost";
    src: url(../../assets/fonts/jost/Jost-Medium.ttf);
    font-weight: 500;
}
@font-face{
    font-family: "Jost";
    src: url(../../assets/fonts/jost/Jost-SemiBold.ttf);
    font-weight: 600;
}
@font-face{
    font-family: "Jost";
    src: url(../../assets/fonts/jost/Jost-Bold.ttf);
    font-weight: 700;
}
html{
    scroll-behavior: smooth;
}
body, button, input, a{
    font-family: 'Jost', sans-serif;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
.qb-main-body-wrap{
    min-height: 100vh;
    background: #F1F2F2;
    color: #1C2826;
}

/*----- Preloader -----*/
.qb-loader{
    top: 0;
    left: 0;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    background-color: #F1F2F2;
    transition: 0.5s ease-out;
}
.qb-loader-bubble {
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 1;
    transform: translateX(-50%);
}
.qb-loader-bubble::before, 
.qb-loader-bubble::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    mix-blend-mode: multiply;
    animation: bubbleRotate 1.6s infinite cubic-bezier(0.77, 0, 0.175, 1);
}
.qb-loader-bubble::before {
    background-color: #E64980;
}
.qb-loader-bubble::after {
    background-color: #FF8787;
    animation-delay: 1s;
}
@keyframes bubbleRotate {
    0%, 100% {
      left: 70px;
    }
    25% {
      transform: scale(.3);
    }
    50% {
      left: 0%;
    }
    75% {
      transform: scale(1);
    }
}
.qb-remove-loader{
    opacity: 0;
    pointer-events: none;
}

/*----- General Styles -----*/
.qb-content-container{
    width: 80vw;
}
h1.qb-title{

}
h2.qb-title{

}
h3.qb-title{
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
}
p.qb-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
p.qb-info-tag{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}
.qb-input-wrap label{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #2E6B60;
    transition: 0.3s ease;
}
.qb-input-wrap input, .qb-input-wrap textarea{
    color: #1C2826;
    outline: none;
    background-color: #FFF0;
    padding: 14px 22px;
    border: 1px solid #4A9689;
    border-radius: 8px;
    transition: 0.3s ease;
    font-size: 16px;
}
.qb-input-wrap.qb-input-error label{
    color: #D90429;
}
.qb-input-wrap.qb-input-error input{
    color: #D90429;
    border: 1px solid #D90429;
}
p.qb-input-error-message{
    font-size: 12px;
    line-height: 150%;
    color: #D90429;
    font-weight: 600;
    opacity: 0;
    transition: 0.3s ease;
}
.qb-input-error p.qb-input-error-message{
    opacity: 1;
}
p.qb-input-error-message.qb-error-active{
    opacity: 1;
}
.qb-eye-icon-wrap{
    top: 0;
    right: 0;
    cursor: pointer;
}
.qb-btn-wrapper{
    width: max-content;
}
.qb-input-disabled{
    cursor: not-allowed;
}
.qb-input-disabled input, .qb-input-disabled textarea{
    color: #374E4A;
    outline: none;
    background-color: #D5D8D8;
    border: 1px solid #D5D8D8;
    border-radius: 8px;
    transition: 0.3s ease;
    pointer-events: none;
}
.qb-input-disabled .qb-eye-icon-wrap{
    pointer-events: none;
}
a.qb-link-btn{
    border: none;
    overflow: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    width: max-content;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in;
}
button{
    border: none;
    overflow: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    width: max-content;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in;
}
button.qb-btn{
    padding: 18px 32px;
}
button.qb-primary-btn{
    background: #FDB913;
    border: 1px solid #FDB913;
    color: #1C2826;
}
button.qb-ghost-btn{
    background: #1C282600;
    border: 1px solid #1C2826;
    color: #1C2826;
}
button.qb-primary-btn:hover{
    background: #FDB91340;
}
button.qb-ghost-btn:hover{
    background: #1C282620;
}
a.qb-link-btn.qb-btn{
    padding: 18px 32px;
}
a.qb-link-btn.qb-primary-btn{
    background: #FDB913;
    border: 1px solid #FDB913;
    color: #1C2826;
}
a.qb-link-btn.qb-ghost-btn{
    background: #1C282600;
    border: 1px solid #1C2826;
    color: #1C2826;
}
a.qb-link-btn.qb-primary-btn:hover{
    background: #FDB91340;
}
a.qb-link-btn.qb-ghost-btn:hover{
    background: #1C282620;
}
p.qb-tag{
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
}
a.qb-link{
    cursor: pointer;
    color: #FF8787;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
}
a.qb-link:hover{
    color: #E64980;
}
a.qb-link-disabled{
    color: #FF8787 !important;
    opacity: 0.6;
    cursor: not-allowed;
}
.qb-btn-loader{
    display: none;
    width: 18px;
    height: 18px;
    border-radius: 12px;
    border-top: 2px solid #1C2826;
    border-left: 2px solid #1C282600;
    border-bottom: 2px solid #1C2826;
    border-right: 2px solid #1C282600;
    animation: loadingAnime 0.8s linear infinite;
}
button.qb-primary-btn.qb-btn-loading{
    opacity: 0.6;
    cursor: not-allowed;
}
button.qb-primary-btn.qb-btn-loading:hover{
    background: #FDB913;
    border: 1px solid #FDB913;
    color: #1C2826;
}
.qb-btn-loading .qb-btn-loader{
    display: flex;
}
.qb-modal-backdrop{
    top: 0;
    left: 0;
    z-index: 40;
    width: 100vw;
    height: 100vh;
    background-color: #F1F2F280;
}
.qb-modal-container{
    left: 50%;
    top: 50%;
    z-index: 42;
    padding: 32px;
    opacity: 0;
    transform: translate(-50%, 0);
    width: 80vw;
    max-width: 520px;
    min-height: 200px;
    pointer-events: none;
    border-radius: 16px;
    background-color: #F1F2F2;
    box-shadow:  14px 14px 28px #1C282620;
    transition: 0.4s ease-in;
}
.qb-popup-illustration{
    width: 350px;
    max-width: 60%;
    height: auto;
    object-fit: contain;
}
.qb-modal-active{
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%, -50%);
}
.qb-select-element{
    top: 0;
    left: 0;
    cursor: pointer;
}
.qb-options-wrapper{
    bottom: -4px;
    left: 0;
    z-index: 5;
    transform: translateY(60%);
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    background-color: #F1F2F2;
    border: 1px solid #D2E5E2;
    box-shadow:  10px 10px 20px #dbdbdc,
             -10px -10px 20px #ffffff20;
    border-radius: 8px;
    transition: 0.4s ease-out;
}
.qb-options-wrapper.qb-select-active{
    opacity: 1;
    transform: translateY(100%);
    pointer-events: all;
}
.qb-options-container{
    opacity: 0;
    transition: 0.4s ease-out;
}
.qb-select-active .qb-options-container{
    opacity: 1;
    transition: 0.4s ease-out 0.2s;
}
.qb-option-wrap{
    cursor: pointer;
    transition: 0.2s ease-out;
    background-color: #F1F2F2;
}
.qb-option-wrap:hover{
    background-color: #D2E5E2;
}
p.qb-option-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    pointer-events: none;
}
.qb-pointer-disabled{
    pointer-events: none;
}
@keyframes loadingAnime{
    from{ transform: rotate(0deg); }
    to{ transform: rotate(360deg); }
}

.qb-checkbox-wrapper input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.qb-checkbox-wrapper {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
    user-select: none;
}
.qb-checkmark {
    --clr: #FF8787;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #f1f1f2;
    border: 2px solid #E64980;
    border-radius: 20px;
    transition: 0.3s ease-in;
}
.qb-checkbox-wrapper input:checked ~ .qb-checkmark {
    background-color: var(--clr);
    border-radius: 4px;
    border: 2px solid #E6498000;
    animation: pulse 0.5s ease-in-out;
}
.qb-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.qb-checkbox-wrapper input:checked ~ .qb-checkmark:after {
    display: block;
}
.qb-checkbox-wrapper .qb-checkmark:after {
    left: 7px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid #f1f1f2;
    border-width: 0 2.5px 2.5px 0;
    transform: rotate(45deg);
}
@keyframes pulse {
    0% {
      box-shadow: 0 0 0 #E6498090;
      rotate: 20deg;
    }
    50% {
      rotate: -20deg;
    }
    75% {
      box-shadow: 0 0 0 10px #E6498060;
    }
    100% {
      box-shadow: 0 0 0 13px #E6498030;
      rotate: 0;
    }
}

@media only screen and (max-width: 1380px){
    .qb-content-container{
        width: 90vw;
    }
}
@media only screen and (max-width: 1200px){
    .qb-content-container{
        width: 96vw;
    }
}
@media only screen and (max-width: 767px){
    .qb-loader-border{
        width: 140px;
        height: 140px;
        border-radius: 200px;
        padding: 24px;
    }
    h3.qb-title{
        font-size: 24px;
        line-height: 150%;
    }
    p.qb-description{
        font-size: 14px;
    }
    p.qb-info-tag{
        font-size: 12px;
    }
    .qb-input-wrap label{
        font-size: 14px;
        line-height: 150%;
    }
    .qb-input-wrap input, .qb-input-wrap textarea{
        padding: 12px 20px;
    }
    a.qb-link-btn{
        font-size: 16px;
        line-height: 150%;
    }
    button{
        font-size: 16px;
        line-height: 150%;
    }
    button.qb-btn{
        padding: 12px 24px;
    }
    a.qb-link-btn.qb-btn{
        padding: 12px 24px;
    }
    .qb-modal-container{
        padding: 24px;
        max-width: 320px;
    }
}